
// Fonts
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/subset-MyriadPro-Black.eot');
	src: url('../fonts/subset-MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-MyriadPro-Black.woff2') format('woff2'),
	url('../fonts/subset-MyriadPro-Black.woff') format('woff'),
	url('../fonts/subset-MyriadPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('subset-MyriadPro-Semibold.eot');
	src: url('subset-MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
	url('subset-MyriadPro-Semibold.woff2') format('woff2'),
	url('subset-MyriadPro-Semibold.woff') format('woff'),
	url('subset-MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('subset-MyriadPro-Regular.eot');
	src: url('subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('subset-MyriadPro-Regular.woff2') format('woff2'),
	url('subset-MyriadPro-Regular.woff') format('woff'),
	url('subset-MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Variables
@import "variables";

@mixin bp-tablet{
	@media only screen and (max-width: 809px){
		@content
	}
}
@mixin bp-phone{
	@media only screen and (max-width: 620px){
		@content
	}
}
@mixin bp-sm-phone{
	@media only screen and (max-width: 405px){
		@content
	}
}


.cf:after {
	content: "";
	display: table;
	clear: both;
}

body {
	margin: 0;
	padding: 0;
}

.app {
	&--winnerText{
		color: white;
		font-family: 'Myriad Pro';
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
	}
	&--container {
		width: 810px;
		margin: 0 auto;
		@include bp-tablet {
			width: 100%;
		}
	}
	&--content {
		width: 810px;
		@include bp-tablet {
			width: 100%;
		}
		&__rules {
			width: 810px;
			background: url(../images/rules_bg.png) no-repeat center center #171315;
			padding: 40px 0;
			@include bp-tablet {
				width: 100%;
				background: #171315;
			}
		}
	}
	&--rulesEntry {
		width: 50%;
		height: 580px;
		float: left;
		@include bp-tablet {
			width: 100%;
		}
		&__rule1 {
			background: url(../images/rules_1.png) no-repeat 70% 50%;
			@include bp-tablet {
				background-position: 50% 50%;
			}
		}
		&__rule2 {
			background: url(../images/rules_2.png) no-repeat 30% 50%;
			@include bp-tablet {
				background-position: 50% 50%;
			}
		}
		&__rule3 {
			background: url(../images/rules_3.png) no-repeat 70% 50%;
			@include bp-tablet {
				background-position: 50% 50%;
			}
		}
		&__rule4 {
			background: url(../images/rules_4.png) no-repeat 30% 50%;
			@include bp-tablet {
				background-position: 50% 50%;
			}
		}
	}
	&--split {
		width: 810px;
		height: 154px;
		background: url(../images/bg_gradient.png) no-repeat center center;
		@include bp-tablet {
			width: 100%;
		}
	}
	&--title {
		font-family: 'Myriad Pro';
		font-size: 36px;
		font-weight: 900;
		color: white;
		padding-top: 50px;
		padding-left: 30px;
		margin: 0;
		@include bp-phone {
			padding-top:30px;
		}
	}
	&--subtitle {
		font-family: 'Myriad Pro';
		font-size: 24px;
		font-weight: 600;
		color: white;
		padding-left: 30px;
		margin: 0;
	}
	&--footer {
		width: 810px;
		background: #171315;
		height: 72px;
		@include bp-tablet {
			width: 100%;
			height:40px;
		}
	}
	&--copyright {
		font-family: 'Myriad Pro';
		font-size: 14px;
		font-weight: normal;
		color: #fffefe;
		float: left;
		margin-top: 30px;
		margin-left: 30px;
		@include bp-tablet {
			margin-top:10px;
			margin-left:10px;
		}
	}
	&--agency {
		font-family: 'Myriad Pro';
		font-size: 14px;
		font-weight: normal;
		color: #fffefe;
		float: right;
		margin-top: 30px;
		margin-right: 30px;
		a{
			text-decoration: none;
			color:#fffefe;
		}
		@include bp-tablet {
			margin-top:10px;
			margin-right:10px;
		}
	}

}
.imagesContainer {
	width: 100%;
	position: relative;
	background: #171315;
	&--image {
		width: 405px;
		height: 405px;
		float: left;
		background-size: cover;
		position: relative;
		@include bp-tablet {
			width: 50%;
		}
		@include bp-phone {
			width: 405px;
			margin:0 auto;
			float:none;
		}
		@include bp-sm-phone {
			width: 100%;
		}
	}
	&--overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		text-align: center;
		z-index: 100;
		&__hidden{
			display:none;
		}
	}
	&--overlaycount {
		font-family: 'Myriad Pro';
		font-weight: 900;
		font-size: 72px;
		color: white;
		display: block;
		position: absolute;
		top: 45%;
		margin-top: -31px;
		right: 45%;
	}
	&--overlaytext {
		font-family: 'Myriad Pro';
		font-weight: 900;
		font-size: 24px;
		color: white;
		position: absolute;
		display: block;
		width: 100%;
		text-align: center;
		bottom: 36%;
	}
	&--overlaycountlike {
		width: 77px;
		height: 75px;
		background: url(../images/thumbs_up.png) no-repeat center center;
		position: absolute;
		right: 20%;
		top: 45%;
		margin-top: -42px;
	}
	&--like {
		width: 246px;
		height: 43px;
		background: url(../images/balsuok.png) no-repeat center center;
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -123px;
		cursor: pointer;
		&__hidden {
			display: none;
		}
	}
	&--count {
		font-family: 'Myriad Pro';
		font-weight: 900;
		font-size: 24px;
		color: white;
		float: right;
		margin-top: 10px;
		display: block;
		margin-right: 39px;
	}
}

.header {
	width: 810px;
	height: 424px;
	position: relative;
	background: url(../images/banner.png) no-repeat center center;
	@include bp-tablet {
		width: 100%;
		height: auto;
		padding-top: 100%;
		background: url(../images/mobile_header.png) no-repeat center center;
		background-size:cover;
	}
	@include bp-phone {
		padding-top:110%;
	}
	&--button {
		position: absolute;
		width: 305px;
		height: 53px;
		display: block;
		z-index: 10;
		right: 20px;
		bottom: 20px;
		background: url(../images/button_bg.png) no-repeat center center;
		text-decoration: none;
		@include bp-tablet {
			right:50%;
			margin-right:-156px;
			bottom:40px;
		}
		@include bp-phone {
			bottom:20px;
		}
		&__rules {

		}
		&__gallery {

		}
	}
	&--buttontext {
		font-family: 'Myriad Pro';
		font-weight: 900;
		font-size: 30px;
		line-height: 61px;
		color: white;
		text-transform: uppercase;
		padding-left: 60px;
	}
	&--buttonem {
		background: url(../images/button_arrow.png) no-repeat center center;
		width: 16px;
		height: 33px;
		display: block;
		position: absolute;
		top: 50%;
		right: 15%;
		margin-top: -16px;
	}
}


